*.bak
*.patch
*.diff
a.out
cpputest_*.xml
.tags*
*.swp
*.swo
cscope*
tags
CMakeFiles/
RELEASE*/
*.o
*.make
*.cxx_parameters
CMakeCache.txt
Makefile
sasl/**
*.pyc
*~

.vscode/*

# Qt
build/**
build-*/
*.user
moc_*.cpp
*_automoc.cpp
